# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.snap

L11 Workspace/.metadata/

L11 Workspace/Acme-Newspaper-2.0/target/
*.index
L11 Workspace/Servers/

L11 Workspace/Acme-Newspaper-2\.0/domain\.Advertisement/
